h1{
    color: #1F66FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    align-items: center;
    width: 1fr;
    height: auto;
}

.main-container{
    display: flex;
    justify-content: center;
    width: 1fr;
    height: 500px;
    background-color: skyblue;
    align-items: center;
}

.text-container{
    width: 1fr;
    height: auto;
    text-align: center;
    background-color: greenyellow;
    display: block;
}

.calculator-container{
    display: grid;
    background-color: pink;
    width: 300px;
    height: 500px;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 5fr 5fr 5fr 5fr 5fr;
    grid-template-areas: 
    "view view view view"
    "set1 set2 set3 op1";
}

.view-box{
    background-color: gray;
    grid-area: view;

}

.number-box{
    background-color: lightgray;
}

.operator-box{
    background-color: orange;
}

.settings-box{
    background-color: darkgray;
}