body{
    background-color: rgb(35, 35, 35);
}

h1{
    color: #1F66FF;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    align-items: center;
    width: 1fr;
    height: auto;
}

.main-container{
    display: flex;
    justify-content: center;
    width: 1fr;
    height: 500px;
    /* background-color: skyblue; */
    align-items: center;
}

.text-container{
    width: 1fr;
    height: auto;
    text-align: center;
    /* background-color: greenyellow; */
    display: block;
}

.calculator-container{
    display: grid;
    background-color: pink;
    width: 300px;
    height: 500px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: repeat(6, 6fr);
    grid-template-areas: 
    "view view view view"
    "set1 set2 set3 op1"
    "num7 num8 num9 op2"
    "num4 num5 num6 op3"
    "num1 num2 num3 op4"
    "num0 num0 numD op5";
}

.view-box{
    background-color: rgb(44, 44, 44);
    grid-area: view;

}

.number-box{
    background-color: rgb(107, 105, 105);
    text-align: center;
    border: 0.5px black;
    border-style: solid;
    font-size: large;
}

.number-box:hover{
    opacity: 75%;
}

.number-box:active{
    background-color: #1F66FF;
}

.operator-box{
    background-color: orange;
    background-color: #1F66FF;
    text-align: center;
    border: 0.5px black;
    border-style: solid;
    font-size: large;
}

.operator-box:hover{
    opacity: 75%;
}

.settings-box{
    background-color: rgb(76, 76, 76);
    text-align: center;
    border: 0.5px black;
    border-style: solid;
    font-size:large;
}

.settings-box:hover{
    opacity: 75%;
}

.button-text{
    padding: 10px;
}

.view-text{
    float:right;
    padding-right: 10px;
    font-size: xx-large;
}